<br />
<br />
<br />
<br />
<h1 style="color :#646B73; font-family: zerif;margin-left:10px"><span class="glyphicon glyphicon-th-list" style="width=20px;height:20px;font-size : 24px;padding: 0px 8px;"></span>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>      
      <th>Surname</th>
      <th colspan="3" style ="padding-left:100px;"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.surname %></td>
        <td>
        
          <div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <li><a href="#"><%= link_to 'Show', student %></a></li>
    <li><a href="#"><%= link_to 'Edit', edit_student_path(student) %></a></li>
    <div class="dropdown-divider"></div>
   <li><a href="#"><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></a></li>
  </div>
</div>
        
        </td>
        
        
        
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-success"><%= link_to 'New Student', new_student_path %></button>

